<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="row">
        <div class="col-md-2">Filter BY: </div>
        <div class="col-md-4"> <input type="text" [(ngModel)]="listFilter" /> </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered BY: {{listFilter}}</h4>
      </div>

      <table class="table" *ngIf="products.length">
        <thead class="thead-light">
          <tr>
            <th> <button class="btn btn-primary" (click)="toggleImage()"> {{showImage? 'Hide': 'Show'}} Image </button> </th>
            <th>Product</th>
            <th>Code</th>
            <th>Avaliable</th>
            <th>Price</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filterProducts">
            <!-- <td> <img src="{{product.image}}" alt=""> </td> -->
            <td> <img
              appCardHover
              borderColor2="yellow"
              [src]="product.image"
              [style.width.px] = 'imgWidth'
              [style.margin.px] = 'imgMargin'
              *ngIf="showImage"
              > </td>
            <!-- <td appTextTransfrom ColorDirective="green" UpperCase="uppercase" LowerCase="lowercase">{{product.productName | uppercase}}</td> -->
            <td><a [routerLink]="['/products', product.productID]">{{product.productName}}</a></td>
            <td>{{product.productCode | uppercase | convertToSpaces : '-'}}</td>
            <td>{{product.releaseDate | date : 'shortDate'}}</td>
            <!-- <td  [ngClass]="{'text-danger': product.price < 5000, 'class1': product.price < 5000}"
            >
              {{product.price}}
            </td> -->
            <td [ngStyle]="{'color' : (product.price < 5000) ? 'red': 'blue'}"
            >
              {{product.price | currency: 'USD' : 'symbol':'1.2-2'}}
            </td>

            <td> <app-star [rating]="product.startRating" (ratingClicked)="onRatingClicked($event)"></app-star> </td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>


<input (keydown.shift.t)="onKeyDown($event)" type="text">
