
<nav class="navbar navbar-expand navbar-light bg-light">
  <a  class="navbar-brand"> {{pageTitle}}</a>
  <ul class="nav nav-pills">
    <li> <a class="nav-link" routerLink="/home" >Home</a> </li>
    <li> <a class="nav-link" routerLink="/products" >Products</a> </li>
    <li> <a class="nav-link" routerLink="/user/userProfile" >User Profile</a> </li>
    <li> <a class="nav-link" routerLink="/user/userLogin" >User Login</a> </li>
    <li> <a class="nav-link" routerLink="/user/signup" >User Sign Up</a> </li>
    <li> <a class="nav-link" routerLink="/user/signupreactive" >Sign Up Reactive</a> </li>

  </ul>
</nav>


<div class="container">
  <router-outlet></router-outlet>
</div>
